.Header
  box-shadow: 0px 8px 11px -6px rgba(181, 179, 179, 0.75)
  background-color: #f4f4f4
  &-container
    max-width: 992px
    display: flex
    justify-content: center
    flex-wrap: wrap
    align-items: center
    margin: 0 auto
    padding: 40px 0 16px 0
  &-search
    margin-left: auto
    display: flex
    align-items: center
    &-button
      border: none
      background: inherit
      color: #ccc
      cursor: pointer
  &-button
    color: #ffffff
    background-color: #428bca
    border-color: #357ebd
    padding: 6px 12px
    font-size: 14px
    line-height: 1.5
    border-radius: 4px
    border: none
    margin-right: 4px
    cursor: pointer
    margin: 4px