.Tooltip
  display: flex
  flex-direction: column
  padding: 16px
  align-items: flex-start
  box-shadow: -1px 1px 10px #ccc
  position: absolute
  background: #FFFFFF
  font-size: 14px
  left: 100%
  top: 10%
  z-index: 1000
  min-width: 200px
  cursor: auto
  &-input
    margin-bottom: 4px
    border: none
    border-bottom: 1px solid #cccccc
    line-height: 1.5
    padding: 4px
  &-textarea
    margin-top: 24px
    border: 1px solid #cccccc
    padding: 4px
  &-button
    border: none
    border-radius: 4px
    margin-top: 16px
    padding: 4px
    display: inline
    margin-right: 4px
    background: #fff
    border: 1px solid #cccccc
    color: #4a4a5a
    cursor: pointer
  &-close
    position: absolute
    right: 4px
    top: 4px
    font-size: 18px
    color: black
    cursor: pointer
    border: none
    background: inherit
  &:after 
    content: ""
    position: absolute
    width: 0
    height: 0
    border-width: 10px
    border-style: solid
    border-color: transparent #FFFFFF transparent transparent
    top: 16px
    left: -20px
    filter: drop-shadow(-1px 1px 1px #ccc)
