*
  box-sizing: border-box
  -webkit-box-sizing: border-box
  font-family: Roboto, sans-serif

body
  font-family: sans-serif
  font-size: 16px
  color: #444

.Calendar
  width: 80%
  height: 480px
  margin: 100px auto
  
  max-width: 992px

.Calendar-grid
  display: flex
  flex-wrap: wrap
  width: 100%
  

.Calendar-header
  text-align: center
  display: flex
  font-size: 26px
  justify-content: flex-start
  align-items: center
  margin-bottom: 16px
  &-currentDate
    width: 188px
  button
    display: inline-block
    margin-bottom: 0
    font-weight: normal
    text-align: center
    vertical-align: middle
    cursor: pointer
    background-image: none
    border: 1px solid #cccccc
    white-space: nowrap
    color: #333333
    background-color: #ffffff
    padding: 1px 5px
    font-size: 14px
    line-height: 1.5
    border-radius: 3px
    margin: 8px

.Calendar-grid-item
  flex: 0 14.28571%
  min-height: 128px
  border: 1px solid #ebebeb
  display: flex
  flex-direction: column
  align-items: stretch
  padding: 4px
  font-size: 12px
  position: relative
  max-width: 14.28571%
  cursor: pointer
  &-content
    flex-basis: 100%
    &:focus 
      outline: 4px solid rgba(83, 83, 83, 0.15)
    &:hover
      outline: 4px solid rgba(83, 83, 83, 0.15)
  &-title
    margin: 4px 0px
    font-weight: 500
    font-size: 14px
    white-space: normal
    overflow: hidden
    color: #000
  &-people
    font-size: 14px
    white-space: normal
    overflow: hidden
    color: #000
    font-weight: 400
  &--current
    font-weight: bold
    color: red
    background: #fafafa
  


.Calendar-grid-item
  &.nextMonth, &.prevMonth
    color: #999
  &:nth-child(7n + 1)
    border-left: 1px solid #ddd
  &:nth-child(-n + 7)
    border-top: 1px solid #ddd